* {
    margin: 0;
    padding: 0;
}
#wrapper { 
    width: 800px;
    min-width: 800px;
    margin: 0 auto;
}
#header {
    padding: 25px;
    height: 150px;
    min-height: 150px;
    border-bottom: 1px solid #888;
}
#logo {
    float: left;
    width: 150px;
    height: 150px;
    min-width: 150px;
    min-height: 150px;
    background: url(../images/logo.png) no-repeat;
}
#banner {
    float: left;
    padding-left: 25px;
    padding-right: 25px;
    width: 550px;
    height: 150px;
    min-width: 550px;
    min-height: 150px;
    text-align: center;
}
#banner h1 {
    font-size: 250%;
    line-height: 50px;
    margin-top: 25px;
    margin-bottom: 50px;
}
#content {
    width: 760px;
    min-width: 760px;
    min-height: 240px;
    padding: 20px;
}
#footer {
    width: 800px;
    min-width: 800px;
    min-height: 20px;
    text-align: center;
    border-top: 1px solid #888;
    padding-top: 5px;
    font-size: 80%;
    padding-bottom: 10px;
}
form.login {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
}
form.login input.text {
    width: 100%;
    font-size: 150%;
    font-family: Courier New;
    font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
form.login input.button {
    width: 100%;
    font-size: 150%;
    padding: 5px;
    margin-top: 20px;
}
form.login p {
    font-style: italic;
    font-size: 80%;
}
form.vote table {
    margin-top: 20px;
    width: 100%;
}
form.vote table td.name {
    text-align: center;
    font-size: 150%;
}
form.vote table tr {
    padding-top: 10px;
    padding-bottom: 10px;
}
form.vote input.radio {
    width: 20px;
    height: 20px;
}
p.error_message {
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    color: #F00;
    margin-top: 10px;
    margin-bottom: 10px;
}
td.post-title {
    padding-bottom: 20px;
}
td.post-title h1 {
    font-size: 150%;
}
td.candidate-details-3 {
    width: 250px;
    min-width: 250px;
}
td.candidate-details-4 {
    width: 190px;
    min-width: 190px;
}
td.candidate-details-5 {
    width: 150px;
    min-width: 150px;
}
td.candidate-details {
    text-align: center;
    vertical-align: top;
}
td.candidate-details img {
    margin-bottom: 2px;
    cursor: pointer;
    border: 5px solid #FFF;
}
/*
td.candidate-details img:hover {
    border: 5px solid #00F;
}
*/
table.post-details {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 2px solid #888;
}
input.vote-radio {
    margin-right: 4px;
}
input.votebutton {
    width: 100%;
    font-size: 200%;
    padding: 5px;
    margin-top: 20px;
}
form.vote input.password {
    font-size: 100%;
    font-family: Courier New;
    font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
form.vote input.button {
    width: 100%;
    font-size: 150%;
    padding: 5px;
    margin-top: 20px;
}
form.vote p.password {
    font-size: 150%;
    font-weight: bold;
    padding: 5px;
}

table.password-list, table.hostel-list { 
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}
    
table.password-list th, table.hostel-list th { 
    border-width: 1px;
    padding: 4px;
    border-style: solid;
    border-color: gray;
}
       
table.password-list td, table.hostel-list td { 
    border-width: 1px;
    padding: 4px;
    border-style: solid;
    border-color: gray;
    text-align: center;
    vertical-align: middle;
}

table.hostel-list td input {
    width: 90%;
    height: 90%;
}
